---
redirect: 'https://gitlab.com/basisproject/tracker#roadmap'
permalink: '/roadmap'
---
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="refresh" content="0; url={{ page.redirect }}">
	</head>
	<body>
		Redirecting to <a href="{{ page.redirect }}">{{ page.redirect }}</a>...
	</body>
</html>


