{% if page.leader %}
<div class="main-nav-container uk-background-cover uk-position-relative" style="background-image: url({% if page.leader.image_raw %}{{ page.leader.image_raw }}{% else %}{{ page.leader.image | prepend: site.baseurl }}{% endif %});" {% if page.network_animation != true %}uk-parallax="media: @m; easing: 0.2; bgy: -64,0"{% endif %}>
	{% if page.network_animation %}
		<div class="network-animation" uk-parallax="media: @m; easing: 0.2; y: -32,32"></div>
	{% endif %}
	<div class="overlay">&nbsp;</div>
{% else %}
<div class="main-nav-container">
{% endif %}
	<div class="uk-container">
		<nav class="main" uk-navbar>
			<div class="uk-navbar-left">
				<a class="uk-navbar-item uk-logo uk-margin-right uk-text-secondary" href="{{ '/' | prepend: site.baseurl }}">
					<img class="uk-margin-xsmall-right" alt="Basis logo" src="{{ '/assets/images/logo.outline.png' | prepend: site.baseurl }}"><span>Basis</span>
				</a>
			</div>
			<div class="uk-navbar-right">
				<ul class="uk-navbar-nav uk-visible@s">
					<li><a href="{{ "/contribute" | prepend: site.baseurl }}">Get involved</a></li>
					<li><a href="{{ "/paper" | prepend: site.baseurl }}">Paper</a></li>
					<li><a href="{{ "/posts" | prepend: site.baseurl }}">News</a></li>
					<li><a href="{{ "/faq" | prepend: site.baseurl }}">FAQ</a></li>
					<!--<li><a href="{{ "/docs" | prepend: site.baseurl }}">Documentation</a></li>-->
					<li><a title="Source code" href="https://gitlab.com/basisproject/"><icon>&#xF296;</icon></a></li>
					<li><a title="Reddit community" href="https://www.reddit.com/r/basisproject"><icon>&#xF281;</icon></a></li>
					<li><a title="Twitter" href="https://twitter.com/basisproject"><icon>&#xF099;</icon></a></li>
					<li><a title="Matrix (#basis:matrix.org)" href="https://matrix.to/#/!gNgFxsBfuTUXItEYdX:matrix.org?via=matrix.org"><icon>&#xE80C;</icon></a></li>
				</ul>
			</div>

			<div class="uk-navbar-right uk-hidden@s">
				<a class="uk-navbar-item" href="#mobile-nav" uk-toggle><span uk-icon="icon: menu"></span></a>
			</div>
			<div id="mobile-nav" uk-offcanvas>
				<div class="uk-offcanvas-bar">
					<a class="uk-offcanvas-close"><span uk-icon="icon: close"></span></a>
					<ul class="uk-nav">
						<li><a href="{{ "/" | prepend: site.baseurl }}">Home</a></li>
						<li><a href="{{ "/paper" | prepend: site.baseurl }}">Paper</a></li>
						<li><a href="{{ "/posts" | prepend: site.baseurl }}">News</a></li>
						<li><a href="{{ "/faq" | prepend: site.baseurl }}">FAQ</a></li>
						<!--<li><a href="{{ "/docs" | prepend: site.baseurl }}">Documentation</a></li>-->
						<li><a title="Source code" href="https://gitlab.com/basisproject/"><icon>&#xF296;</icon>&nbsp;&nbsp;Source &raquo;</a></li>
						<li><a title="Reddit community" href="https://www.reddit.com/r/basisproject"><icon>&#xF281;</icon>&nbsp;&nbsp;Community &raquo;</a></li>
						<li><a title="Twitter" href="https://twitter.com/basisproject"><icon>&#xF099;</icon>&nbsp;&nbsp;Twitter &raquo;</a></li>
						<li><a title="Matrix (#basis:matrix.org)" href="https://matrix.to/#/!gNgFxsBfuTUXItEYdX:matrix.org?via=matrix.org"><icon>&#xE80C;</icon>&nbsp;&nbsp;Matrix &raquo;</a></li>
					</ul>
				</div>
			</div>
		</nav>

		{% if page.leader %}
		<div class="hero uk-section {% if page.network_animation %}uk-section-large{% endif %} uk-background-cover {{ page.leader.class }}">
				<div class="hero-container uk-container {% if page.leader.button %}uk-padding-small{% else %}uk-padding{% endif %}">
					<div class="info uk-flex uk-flex-middle uk-flex-center uk-flex-column uk-text-center">
						<h1 class="uk-heading-primary uk-margin-remove-top uk-margin-small-bottom uk-light">
							{% if page.leader.text %}
								{{ page.leader.text }}
							{% else if page.title %}
								{{ page.title }}
							{% endif %}
						</h1>
						<h2 class="uk-margin-remove-top uk-light">
							{% if page.leader.subtext %}
								{{ page.leader.subtext }}
							{% else if page.author %}
								{{ page.author }} - {{ page.date | date: "%b %d, %Y" }}
							{% endif %}
						</h2>
						{% if page.leader.button %}
							<a class="uk-button uk-button-primary uk-margin-small-top" href="{{ page.leader.button.url }}">{{ page.leader.button.text }}</a>
						{% endif %}
					</div>
				</div>
			</div>
		{% endif %}
	</div>
</div>

