<div class="post-container">
	<div class="post-list summary uk-grid">
		{% assign trimmed_posts = site.posts | slice: 0, 16 %}
		{% for post in trimmed_posts %}
			<div class="post uk-width-1-1 uk-width-1-3@s">
				{% include post-inner.html post=post brief=1 skip_comment_link=1 %}
			</div>
		{% endfor %}
	</div>
</div>

