---
permalink: '/posts/2020/02/frequently-asked-questions/'
redirect: '/public/faq'
---
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="refresh" content="0; url={{ page.redirect }}">
	</head>
	<body>
		Redirecting to <a href="{{ page.redirect }}">{{ page.redirect }}</a>...
	</body>
</html>

